<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files to Image Converter</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="animated-background">
    <div class="container">
        <h1>Files to Image Converter</h1>
        <h2>Convert Files to Image</h2>
        <form action="{{ url_for('upload_files') }}" method="post" enctype="multipart/form-data">
            <label for="files" class="file-label"><span>Choose Files</span></label>
            <input type="file" id="files" name="files" multiple>
            <span id="fileCount" class="file-count"></span>
            <label for="existing_image" class="file-label"><span>Choose Existing Image (Optional)</span></label>
            <input type="file" id="existing_image" name="existing_image" accept="image/png">
            <span id="imageCount" class="file-count"></span>
            <button type="submit">Convert to Image</button>
        </form>
        <hr>
        <h2>Extract Files from Image</h2>
        <form action="{{ url_for('extract_files') }}" method="post" enctype="multipart/form-data">
            <label for="image" class="file-label"><span>Choose Image</span></label>
            <input type="file" id="image" name="image" accept="image/png">
            <span id="extractImageCount" class="file-count"></span>
            <button type="submit">Extract Files</button>
        </form>
    </div>
    <div id="loadingBar" class="loading-bar">
        <div id="loadingProgress" class="loading-progress"></div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>